@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply bg-[#050505] text-white overscroll-none;
    background-color: #050505;
    /* Fallback/Explicit */
  }
}